<div class="background"></div>
<div class="background-white"></div>
<div class="main">
  <div class="side-nav">
    <a class="btn-close">
      <span class="remove"></span>
    </a>
    <ul class="menu-rotated">
      <li class="menu-rotated__item">
        <a class="menu-rotated__link">Home</a>
      </li>
      <li class="menu-rotated__item">
        <a class="menu-rotated__link">Fonts</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="header">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link">Libraries</a>
        </li>
        <li class="menu__item">
          <a class="menu__link">Resources</a>
        </li>
        <li class="menu__item">
          <a class="menu__link">Overview</a>
        </li>
        <li class="menu__item">
          <a class="menu__link">Learn</a>
        </li>
      </ul>
    </div>
    <div class="list" #list>
      <div
        class="box"
        *ngFor="let box of boxes"

        [class.active]="routerLink.isActive"
        (transitionend)="transitionEnd($event)"
      >
        <div class="box-background"></div>
        <div class="box-container">
          <span class="box__number">{{ box.num }}</span>
          <div class="box__description">
            <h1 class="heading-1">{{ box.title }}</h1>
            <p class="paragraph">
              {{ box.description }}
            </p>
          </div>
          <a
            class="box__view"
            [routerLink]="box.id"
            routerLinkActive
            #routerLink="routerLinkActive"
            (click)="goBackIfActive(routerLink)"
          >
            <span class="plus" [class.active]="routerLink.isActive"></span>
          </a>
        </div>
        <div class="box-detail">
          <app-detail [active]="routerLink.isActive"></app-detail>
        </div>
      </div>
    </div>
  </div>
</div>
